@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 72.2% 50.6%;
    --radius: 0.5rem;
  }

  .dark {
    --background: #151515;
    --foreground: #242424;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 72.2% 50.6%;
    --primary-foreground: 0 85.7% 97.3%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 72.2% 50.6%;
  }
}
body table td .mantine-Badge-label {
  overflow: visible !important;
  font-weight: bold !important;
  font-size: 15px;
}
body table thead {
  background-color: #ed2e26 !important;
}
body table thead th {
  color: #fff !important;
  font-size: 14px;
  font-weight: bold !important;
  text-wrap: nowrap;
  height: 2rem !important;
}
body tr.DELIVERED {
  background-color: #00800036 !important;
}
body tr.RETURNED {
  background-color: rgba(255, 0, 0, 0.36) !important;
}
body .mantine-AppShell-header {
  top: 10px;
  width: calc(100% - 260px) !important;
  border-radius: 5px;
  right: unset !important;
  left: 10px !important;
  border-bottom: none;
  box-shadow: 1px 1px 10px 10px #f7f7f7;
}
body .mantine-AppShell-header.opened {
  width: calc(100% - 10px) !important;
}
body nav {
  height: 100vh !important;
  top: 0 !important;
  border: none !important;
}
body .ticket {
  position: relative;
  margin: 15px 0;
  padding: 10px;
  border: 1px solid #dddddd6b;
  border-radius: 10px;
}
body .ticket .received {
  position: absolute;
  left: 10px;
  font-size: 14px;
  font-weight: bold;
}
body .ticket .response {
  margin-bottom: 10px;
}
body .ticket .response span {
  font-size: 13px;
  color: gray;
}
body .ticket .response p {
  margin: 0;
}
body .ticket .order-details h3 {
  color: #ed2e26;
  font-weight: bold;
}
body .ticket .controls button:disabled {
  opacity: 0.5;
}
body .ticket div.flex {
  margin-bottom: 5px;
}
body .ticket div.flex span:first-child {
  margin-left: 10px;
  font-size: 14px;
}
body .ticket div.flex span:last-child {
  font-size: 15px;
  font-weight: bold;
}
body {
  background-color: #f7f7f7 !important;
}
.dark body {
  background-color: #151515 !important;
}
body main {
  background-color: #fff !important;
  padding: 40px 20px 20px !important;
  border-radius: 10px;
  margin: 90px 250px 20px 10px;
  overflow: hidden !important;
}
.dark body main {
  background-color: #242424 !important;
}
.dark body .mantine-AppShell-header {
  box-shadow: 1px 1px 10px 10px #151515;
}
body main.opened {
  margin: 90px 10px 20px 10px;
}
@media (max-width: 768px) {
  body main {
    margin: 90px 10px 10px 10px !important;
    width: calc(100% - 20px);
  }
  body .mantine-AppShell-header {
    width: calc(100% - 20px) !important;
  }
  body .login-image {
    display: none !important;
  }
  body .login-page form {
    width: 100% !important;
  }
}
@media (max-width: 400px) {
  body .mantine-AppShell-header p {
    font-size: 13px !important;
  }
  body .mantine-AppShell-header .-ml-2 button {
    padding-right: 0 !important;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
